*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 170px;
    
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump 500ms ease-out;
}

h1{
    z-index: 1;
    justify-content: center;
    position: absolute;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}

footer{
    text-align: center;
    margin-top: 20px;
}

.botao {
    border: solid 2px black;
    background-color: aqua;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
}

.botao:hover {
    animation: botao 1s infinite;
    
}

.botao p{
    text-align: center;
    margin-top: 13px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bolder;
}



footer p{
    font-size: 20px;
}

@keyframes botao{
    0% {
        transform: scale(1);
    }

    50%{
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes botao2{
    0%{
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pipe-animation{

    from{
        right: -80px;

    }

    to {
        right: 100%;
    }
}

@keyframes jump {

    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {

    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}